@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  color: #fff;
  /* width: 100dvw */
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-color: #3b3b3b;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}
@layer utilities{
  .nav-height {
    @apply h-[calc(100vh-60px)]
  }
  .hero-title{
    @apply font-semibold text-3xl text-[#94928d]
  }
  .section-title{
    @apply text-5xl font-medium text-center text-[#86868b]
  }
  .section-link{
    @apply text-2xl font-medium text-[#2997ff] hover:underline
  }
}